.itens {
    outline: 1px solid white;
    margin: 10px;
    border-radius: 10px;
}

.itens .filtros {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filtros select, input {
    width: 200px;
    height: 40px;
    padding-left: 10px;
}

#data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    padding: 20px;

    height: auto;

}


.item {

    width: 100%;
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}