@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #111111;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;
    min-height: 50px;


    padding: 10px;
    margin: 1%;
    border-radius: 10px;
    background-color: blue;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 5px;
    border-radius: 10px;
    min-width: 300px;
    background-color: white;
}

.nav a {
    text-decoration: none;
    color: black;

}

.theme {
    display: flex;
}